{% load static %}
<link rel="stylesheet" href="{% static 'InventoryManager/style.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inventory Manager</title>
</head>
<body>
    <h1>Inventory Manager</h1>
    <h2>Enter UPC:</h2>
    <form action="{% url 'lookup' %}"
          method="POST" style="text-align: center">{% csrf_token %}
        {{ in_out_form.as_p }}
        <input type="submit"> <input type="reset" value="Reset Form">
        <br>

        {% if InfoSubmitted %}
            <br><text class="SubmittedInfoTitle">The Following Was Submitted:</text>
            <br><b>UPC:</b> {{ InfoSubmitted.UPC }}
            <br><b>Type:</b> {{ InfoSubmitted.Scan_Type }}
            <br>
        {% endif %}

        {% if BarcodeMatch %}
            <br><text class="SubmittedInfoTitle">The Following Match Was Found:</text>
            <br><b>Tech Inventory ID:</b> {{ BarcodeMatch.0.tech_inventory_id }}
            <br><b>UPC:</b> {{ BarcodeMatch.0.upc }}
            <br>
        {% endif %}
    </form>

</body>
</html>