{% load static %}
<link rel="stylesheet" href="{% static 'InventoryManager/style.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inventory Manager</title>
</head>
<body>
    <h1>Inventory Manager</h1>

    <form action="{% url 'lookup' %}"
          method="POST" style="text-align: center">{% csrf_token %}
        {{ in_out_form.as_p }}
        <input type="submit"> <input type="reset" value="Reset Form">

        <br>
        {% if SearchAttempted %}
            {% if BarcodeMatch %}
                {% if InfoSubmitted.Scan_Type == "Status Check" %}
                    <br>
                    <center>
                        <table>
                        <tbody>
                            <tr>
                                <td style="text-align: center;" colspan=2>
                                    <text class="SubmittedInfoTitle">
                                        The Following Match Was Found:
                                    </text>
                                </td>
                            </tr>
                            {% for item in item_status.items %}
                                <tr>
                                    <td style="font-weight: bold">{{ item.0 }}:</td>
                                    <td style="text-align: center">{{ item.1 }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    </center>

                {% endif %}
            {% else %}
                <br><text class="SubmittedInfoTitle">No Matches Found!!</text>
            {% endif %}
        {% endif %}
    </form>

</body>
</html>