{% load static %}
<link rel="stylesheet" href="{% static 'InventoryManager/style.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inventory Manager</title>
</head>
<body>
    <h1>Inventory Manager</h1>
    <form action="{% url 'lookup' %}"
          method="POST" style="text-align: center">{% csrf_token %}
        {{ in_out_form.as_p }}
        <input type="submit"> <input type="reset" value="Reset Form">
    </form>
    {% if Err %}
        <div class="errorlist">
            {% for err in Err.items %}
                <br>ERROR:<br> Field: {{ err.0 }} <br>Message: {{ err.1.0.message }}
            {% endfor %}
        </div>
    {% endif %}

    {% if SearchAttempted %}
            {% if BarcodeMatch %}
                {% if InfoSubmitted.Scan_Type == "Status Check" %}
                    <br>
                    <center>
                        {% include './StatusTable.html' %}
                    </center>
                {% elif InfoSubmitted.Scan_Type == "Check In" %}
                    <br>
                    <center>
                        {% if StatusUpdated %}
                            <text class="ItemStatusChange">Item Checked In!!!</text>
                        {% else %}
                            <text class="errorlist">ERROR: Item Could Not be Updated!!</text>
                        {% endif %}
                        {% include './StatusTable.html' %}
                    </center>
                {% elif InfoSubmitted.Scan_Type == "Check Out" %}
                    <br>
                    <center>
                        {% if StatusUpdated %}
                            <text class="ItemStatusChange">Item Checked Out!!!</text>
                        {% else %}
                            <text class="errorlist">ERROR: Item Could Not be Updated!!</text>
                        {% endif %}
                        {% include './StatusTable.html' %}
                    </center>
                {% endif %}
            {% else %}
                <br><text class="SubmittedInfoTitle">No Matches Found!!</text>
            {% endif %}
        {% endif %}
</body>
</html>