{% block StatusTable %}
    <table>
        <tbody>
            <tr>
                <td style="text-align: center;" colspan=2>
                    <text class="SubmittedInfoTitle">
                        The Following Match Was Found:
                    </text>
                </td>
            </tr>
            {% for item in item_status.items %}
                <tr>
                    <td style="font-weight: bold">{{ item.0 }}:</td>
                    <td style="text-align: center">{{ item.1 }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}