body {
    background: #4287f5;
}
h1, h2 {
    text-align: center;
    text-decoration: underline;
}

.SubmittedInfoTitle {
    text-align: center;
    color: #b5001b;
    text-decoration:underline;
    font-size: large;
    font-weight: bold;
}

.errorlist {
    text-align: center;
    color: #b5001b;
    font-size: large;
    font-weight: bold;
}

.ItemStatusChange {
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    font-size: large;
}